@font-face {
  font-family 'Helvetica'
  font-style normal
  font-weight 400
  
}

body
  background-color #FFFFFF

.fake-link
  cursor: pointer;
  text-decoration: underline;
  color: #0088cc;

.container-fluid
  margin-top 50px

#main-view
  relative left 10px

  h1
    relative left 80px
    color #666
    font-size 60px
    font-family 'Helvetica', sans-serif

  #upload-area
    relative top 50px

  ul.thumbnails
    relative top 50px
    h3
      word-wrap break-word




